@font-face {
    font-family: 'JetBrainsMono';
    src: url('JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-SemiBold.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}


body{
    background-color: #212125;
    margin: 0;
}

h1{
    color: #FFF4E8;
    text-align: center;
    font-family: Aguafina Script;
    font-size: 20vh;
    margin-top: 5%;
}
h2{
    color: #FFFFFF;
    text-align: center;
    font-family: JetBrainsMono;
}

.brand{
    margin: 2%;
    height: 100%;
    width: 50%;
}

.header{
    display: flex; /* Aligns logo and nav on the same line */
    align-items: center; /* Centers both vertically */
    gap: 40px; /* Creates space between the logo and the nav bar */
    padding: 15px 30px;
    background-color: #212125;
}

.nav-links{
    margin-top:-1%;
    display: flex; /* Aligns links horizontally */
    gap: 35px;
    margin-left: -5%;
    margin-right: 5%;
}
a{
 color: white;
 font-family: Plus Jakarta Sans;
 text-decoration: none;
}

.mode{
    height: 20px;
    width: 20px;
}

